{% load i18n %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Analyze your Scratch projects to assess your Computational Thinking skills">
    <meta name="keywords" content="Stamp, Startup, Multipurpose, Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="author" content="Programamos URJC Libresoft FECyT">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <link rel="stylesheet" href="../../static/app/content/bootstrap-tour.css">
    <script src="../../static/app/scripts/bootstrap.min.js"></script>
    <script src="../../static/app/scripts/bootstrap-tour.js"></script>

    <!-- SITE TITLE -->
    <title>Dr. Scratch</title>


    <link rel="stylesheet" href="../../static/app/content/style.css">
    <!-- =========================
     FAV AND TOUCH ICONS AND FONT
    ============================== -->
    <link rel="icon" href="../../static/app/images/favicon.ico">
    <link rel="stylesheet" href="static/app/icons/icons.css">
    <link type="text/css" rel="stylesheet" href="../../static/app/content/css_002.css">
    <link type="text/css" rel="stylesheet" href="../../static/app/content/css.css">
    <!-- =========================
     STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP AND ANIMATION -->
    <link rel="stylesheet" href="../../static/app/content/bootstrap.min.css">
    <link rel="stylesheet" href="../static/app/content/animate.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="../../static/app/content/owl_002.css">
    <link rel="stylesheet" href="../../static/app/content/owl.css">
    <link rel="stylesheet" href="../../static/app/content/nivo-lightbox.css">
    <link rel="stylesheet" href="../../static/app/content/default.css">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="../../static/app/content/styles.css">
    <link rel="stylesheet" href="../../static/app/content/basic.css">
    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="../../static/app/content/responsive.css">

    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <link rel="stylesheet" href="../../static/app/content/red.css">
    <script src="../../static/app/scripts/googleAnalytics.js"></script>

    <script>
                    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
                    </script>

    <script>
    // Instance the tour
    // Initialize the tour
    $(document).ready(function(){
     $("#tour").click(function(){
    var tour = new Tour({
      storage: false,
      backdrop: true,
     steps: [
      {
        element: "#stepone",
        title: "{% trans 'Score' %}",
        content: "{% trans 'This section shows the total score.' %}"
      },
      {
        element: "#steptwo",
        title: "{% trans 'Certificate' %}",
        content:"{% trans 'Download your certificate!'%}"
      },
      {
        element: "#stepthree",
        title: "{% trans 'Score in detail'%}",
        content: "{% trans 'Here we show the score in each programming skill as well as links to sites that can help you to level up.' %}",
        placement:'left'
      }
    ]});
            tour.init();
            tour.start();

        });
});
    </script>
    <script>
    $(document).ready(function(){

    var filename = "{{ filename }}";
    var level = "{{ mastery.points}}/{{ mastery.maxi }}";
    var list =[filename,level];
    $("#certificate").val(list.toString());
    });

    </script>

</head>
<body>
<div id="wrap">
    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
        <div class="container">
                    <!-- TOP BAR -->
            <div class="navbar-collapse collapse" id="stamp-navigation">
                    <!-- NAVIGATION LINK -->
                <a class="navbar-brand" href="/">
                    <img src="static/app/images/logo_main.png" alt="">
                </a>
                <ul class="nav navbar-nav navbar-left main-navigation ">
                    <li class="navbar-brand"><a class="navbar-brand pull-left" href="/organization/{{user.username}}"><span class="icon-basic-home colored-text"></span>{{ user.username }}</a></li>
               </ul>

                <ul class="nav navbar-nav navbar-right main-navigation ">
                        <li class="navbar-brand"><a class="navbar-brand pull-right" href="https://twitter.com/DrScratchTool"><span class="icon-social-twitter colored-text"></span></a></li>
                        <li class="navbar-brand"><a class="navbar-brand pull-right" href="mailto:team@drscratch.org"><span class="icon-basic-mail colored-text"></span></a></li>
                         <li class="navbar-brand"><a class="btn btn-default" id="tour">{% trans "HELP" %}</a></li>
                        <li class="navbar-brand"><a class="navbar-brand pull-right">{% trans "Dr. Scratch(Beta Version)" %}</a></li>
                      </ul>
            </div>
                    <!-- /END TOP BAR -->
        </div>
                <!-- /END CONTAINER -->
    </div>

            <!-- /END STICKY NAVIGATION -->
    <!-- JUMBOTRON -->
<div class="container">
            <section id="blackboard" class="services col-md-5">

                <div class="devpanel">
                    <div class="panel panel-success" id="devpanel">
                        <div class="panel-heading" id="stepone">
                            <img src="static/app/images/ferret.png" class="img-responsive col-md-5">
                            <h2 id="score" class="panel-title dark-text"><strong>{% trans "Score:" %}</strong> {{ mastery.points }}/{{ mastery.maxi }}
                            <a class="twitter-share-button" data-text="{% blocktrans with points=mastery.points %} I have just obtained {{ points }} points analyzing my project in Dr. Scratch! Beat it! @DrScratchTool {% endblocktrans %}"href="https://twitter.com/share">Tweet</a></h2>
                        </div>
                        <div class="panel-body">
                            <div class="container col-md-12">
                            {% trans "<h3 class='text-left dark-text'>The level of your project is... <strong>BASIC! </strong></h3>" %}
                            <p class='text-left dark-text'> {% trans "You're at the beginning of a <br>great adventure . . . Keep it up!" %}</br></p>
                            </div>
                            {% if url != "" %}
                           <a href="{{ url }}" target="_blank"><span class="glyphicon glyphicon-hand-right"></span>{% trans "Come back to your Scratch project." %}</a>
                           {% endif %}
                        </div>
                    </div>
                </div>
                <!-- HOW TO IMPROVE -->
                <div class="improve" >
                    <div class="panel panel-success" id="improve">
                        <div id="steptwo">

                            <div class="panel-heading" >
                                <h2 id="score" class="panel-title dark-text">{% trans "Project certificate"%}</h2>
                            </div>
                            <div class="panel-body" >
                                <h5>{{ filename }} <form name="form" class="project-form" enctype="multipart/form-data" method="post" action="/download_certificate">
                                {% csrf_token %}
                                <button value="{{ filename }}" name="certificate" type="submit" id ="certificate">{% trans "Download" %}</button>
                              </form></h5>
                            </div>

                        </div>
                    </div>

                </div>


            </section>


  <!-- Score in detail -->
    <div class="col-md-7">
        <section id="dashboard">
            <div class="container-fluid" id="stepthree">
                <div class="row marketing">
                    <div class="jumbotron">
                        <div class="table-responsive">
                            <table class="table tablesorter">
                                <thead>
                                    <tr>
                                    <th><h4>{% trans "Level up" %}</h4></th>
                                    <th class="col-md-5"><h4>{% trans "Level" %}</h4></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for key, value in mastery.items %}
                                {% if forloop.counter0|divisibleby:1 %}<tr>{% endif %}
                                {% if key != "points" %}
                                {% if key != "maxi" %}

                                      <td>
                                        {% if value = 3 %}
                                        <span class="glyphicon glyphicon-star" id="star"></span>
                                        {% else %}
                                        <img src="static/app/images/little_bulb.png" alt="">
                                        {% endif %}
                                        {% blocktrans %}
                                        <a href="/learn/{{ key }}/">{{ key }}</a>
                                        {% endblocktrans %}

                                      </td>
                                      <td>
                                            {% if value = 0 %}
                                             <div class="progress">
                                                <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="3" style="width: 0%">
                                                    <span><strong>{{ value }}/3</strong></span>
                                                </div>
                                             <div>
                                            {% elif value = 1 %}

                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="3" style="width: 33%">
                                                    <span><strong>{{ value }}/3</strong></span>
                                                </div>
                                             <div>

                                            {% elif value = 2 %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="3" style="width: 66%">
                                                    <span><strong>{{ value }}/3</strong></span>
                                                </div>
                                             <div>
                                            {% elif value = 3 %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="3" style="width: 100%">
                                                    <span><strong>{{ value }}/3</strong></span>
                                                </div>
                                             <div>
                                            {% endif %}
                                       </td>

                                {% endif %}
                                {% endif %}
                                {% if forloop.counter|divisibleby:1 or forloop.last %}
                                </tr>{% endif %}
                                {% endfor %}
                                </tbody>
                             </table>
                        </div>
                      </div>
                    </div>
                </div>
        </section>
     </div>
</div>

    <footer class="footer grey-bg">
        <div class="container">
           {% trans "©2014 Dr. Scratch is powered by " %}<a href="https:/github.com/ucsb-cs-education/hairball" class="dark-text">Hairball</a>

            <!-- SOCIAL ICONS -->
            <ul class="social-icons">
                <li><a href="https:/twitter.com/drscratchtool"><span class="icon-social-twitter transparent-text-dark"></span></a>
                </li>
                <li><a href=""><span class="icon-social-github transparent-text-dark"></span></a>
                </li>
            </ul>

        </div>

    </footer>


</body>
</html>
