@font-face {
font-family: Purisa,Bold;
src: url(fonts/glyphicons-halflings-regular.ttf) format("truetype");
}
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #eee;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}
body{
    font-family: Purisa,Bold, sans-serif !important;
    background-color: white !important;
}

a{
    color:white;
}

a:hover,
a:focus{
    color:black;
}


.jumbotron{
    color:white;
    background-color: white;
    padding: 20px !important;
   
}

.white{
     color:white;
    }
.dark-text:hover{
    color: #91C470;
}




.btn:hover,
.btn:focus,
#footer .btn:hover,
#footer .btn:focus{
  color:white;
  border-color: white ;
  background-color:#91C470;
  text-decoration: none;
}


#myCarrousel{
    border-style: double;
}

.devpanel{
    padding-top: 90px;

}
#improve{
    border-color:#CCDD91;
     -webkit-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
}
#devpanel{
        background-color: #CCDD91;
        border-color:#CCDD91;
         -webkit-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
}

#dashboard{
padding-top:90px;
}
#dashboard .jumbotron{
    border-style: dotted;
    border-color: #CCDD91;
    border-width: 10px; 
     -webkit-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
    
}

#dashboard .jumbotron h4{
    color:black;
    font-size: 24px;
    font-weight: bold;
    
}

#CT{

    font-weight:bold;
    font-size: 34px;
}

#issues{
    color: #DD5D26;
    font-weight:bold;
    font-size:34px;
}

#score{
    font-weight:bold;
    color: #91C470;
    font-size:34px;
}

#footer{
    color: #222;

}

#footer a{
    color:#FFBF00;
    font-weight:bold;
}

#footer a:hover{
    color:#B40404;
}
#star{
        color:#FBE083;
        border-color: #F9B966;
        display: inline;}

/* Popover */
  .popover {
      border: 5px dotted #1792a4;
  }
  /* Popover Header */
  .popover-title {
      background-color: #5FB677; 
      color: #FFFFFF; 
      font-size: 20px;
      text-align:center;
      font-family: Purisa,Bold, sans-serif !important;
  }
  /* Popover Body */
  .popover-content {
      background-color: #E0EBc2;
      color: #142B3B;
      padding: 25px;
      font-family: Purisa,Bold, sans-serif !important;
  }
  /* Popover Arrow */
  .arrow {
      border-right-color: red !important;
}

