@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}
@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}

.gm-style{
    font-family:Roboto,Arial,sans-serif;
    font-size:11px;font-weight:400;
    text-decoration:none


}

.gm-style .gm-style-cc span,
.gm-style .gm-style-cc a,
.gm-style .gm-style-mtc div{
    font-size:10px

}
.newsidebar{
  padding-top: 100px;
  background-color: #c5e8e3;

}
.litext{
  color: #142b3b !important;
}

.vertical-project-form{
  margin-top: 30px !important;
}
.paneldash{
  box-shadow: 8px 8px 8px #BDBDBD !important;
}
