<!DOCTYPE html>
<html lan="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dr. Scratch - automatic analysis of Scratch projects to assess the development of computational thinking</title>
		
		<!-- Bootstrap core CSS -->
	    <link href="/resources/css/bootstrap.css" rel="stylesheet">
	    <!-- Add custom CSS here -->
	    <link href="/resources/css/sb-admin.css" rel="stylesheet">
	    <link rel="stylesheet" href="/resources/font-awesome/css/font-awesome.min.css">
	    <link rel="stylesheet" type="text/css" href="/resources/custom/business-plate.css">
	    <!-- Page Specific CSS -->
	    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
	    <link rel="stylesheet" type="text/css" href="/resources/css/doctor.css">

		<!--Librería jQuery requerida para los plugins de Javascript-->
		<script src="http://code.jquery.com/jquery.js"></script>
		<!--Todos los plugins Javascript de bootStrap-->
		<script src="/resources/js/bootstrap.min.js"></script>
		<script src="/resources/js/bootstrap-filestyle.js"></script>
			
	</head>	
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      	<div class="container">
	        	<div class="navbar-header">
		          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
	          	<a class="navbar-brand" href="#">Doctor Scratch (alpha version)</a>
	        	</div>
		        <div class="navbar-collapse collapse">
	          		<form class="navbar-form navbar-right" role="form" method="post" action="/login">
	          			{% csrf_token %}
	            		<div class="form-group">
	              		<input type="text" name="username" placeholder="Username" class="form-control">
	            		</div>
	            		<div class="form-group">
	              		<input type="password" name="password" placeholder="Password" class="form-control">
	           			</div>
	            		<button type="submit" class="btn btn-success">Sign in</button>
	          		</form>
	        	</div><!--/.navbar-collapse -->
      		</div>
    	</div>

	    <!-- Main jumbotron for a primary marketing message or call to action -->
	    <div class="jumbotron">
	      <div class="container">
	        <h1>Dr. Scratch (alpha version)</h1>
		<p>Analyze your Scratch projects here! </p>
		<p>Welcome to the Dr. Scratch website, an analytical tool that evaluates your Scratch projects in a variety of computational areas. We provide feedback on aspects such as abstraction, logical thinking, synchronization, parallelization, flow control, user interactivity and data representation. </p>
		<p>This analyzer is a helpful tool to evaluate your own projects, or those of your Scratch students.</p>
	    	<form method="post" enctype="multipart/form-data" action="/upload">
				{% csrf_token %}
				<div class="col-md-4">
					<input type="file" class="filestyle" data-buttonName="btn btn-primary" name="zipFile">
					<input type="submit" value="Send" class="btn btn-primary">
				</div>

			</form>
	      </div>
	    </div>

	    <div class="serviceBlock">
		<div class="container">
					
				<div class="row">
					<div class="col-md-4">
						<div class="clearfix">
							<i class="fa fa-info-circle"></i>
							<div class="desc">								
								<h4>Help</h4>
								<p><a href="http://programamos.es/web/wp-content/uploads/2014/08/DrScratch1.pdf">Slides used in Scratch Conference, MIT 2014</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="clearfix">
							<i class="fa fa-folder-open-o"></i>
							<div class="desc">
								<h4>Contact</h4>
								<p>If you have any questions, comments or ideas to improve Dr. Scratch, please feel free to contact us:</p>
								<p>jesus.moreno (at) programamos.es</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="clearfix">
							<i class="fa fa-male"></i>
							<div class="desc">
								<h4>Community</h4>
								<p>Join us! Meet other users and share experiences</p>
							</div>
						</div>
					</div>
				</div>

				<hr>
		</div>
		</div>		

<!--
		<div id="page-wrapper">
		<div class="row">

          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Do you want to have a try?</h3>
              </div>
              <div class="panel-body">
        	    <div class="wrapper-file-input">
			      <form method="post" enctype="multipart/form-data" action="/upload">
			        {% csrf_token %}
			          Please, select only one file <input type="file" name="zipFile">
			          <input type="submit" value="Send" class="btn btn-primary">
			      </form> 
			    </div>
              </div>
            </div>
          </div>
      	</div>
      </div>-->

	</body>

</html>
