{% load i18n %}
<!DOCTYPE html>
<html class="nivo-lightbox-notouch" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Analyze your Scratch projects to assess your Computational Thinking skills">
    <meta name="keywords" content="Stamp, Startup, Multipurpose, Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="author" content="Programamos URJC Libresoft FECyT">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SITE TITLE -->
    <title>Dr. Scratch</title>


    <link rel="stylesheet" href="static/app/content/style.css">
    <!-- =========================
     FAV AND TOUCH ICONS AND FONT
    ============================== -->
    <link rel="icon" href="static/app/images/favicon.ico">
    <link rel="stylesheet" href="static/app/icons/icons.css">
    <link type="text/css" rel="stylesheet" href="static/app/content/css_002.css">
    <link type="text/css" rel="stylesheet" href="static/app/content/css.css">
    <!-- =========================
     STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP AND ANIMATION -->
    <link rel="stylesheet" href="static/app/content/bootstrap-main.css">
    <link rel="stylesheet" href="static/app/content/animate.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="static/app/content/owl_002.css">
    <link rel="stylesheet" href="static/app/content/owl.css">
    <link rel="stylesheet" href="static/app/content/nivo-lightbox.css">
    <link rel="stylesheet" href="static/app/content/default.css">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="static/app/content/styles_collaborators.css">


    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="static/app/content/responsive.css">

    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <link rel="stylesheet" href="static/app/content/red.css">
</head>

<body>
    <div id="mywrapper">
    <!-- =========================
     PRE LOADER
    ============================== -->
    <div style="display: none;" class="preloader">
        <div style="display: none;" class="status">
            &nbsp;
        </div>
    </div>

    <!-- =========================
     SECTION: HOME / HEADER
    ============================== -->
    <header id="home" style="background-position: 10% -200.5px;" class="header" data-stellar-background-ratio="1.45">
        <!-- COLOR OVER IMAGE -->
        <div class="overlay-layer">
            <!-- STICKY NAVIGATION -->
            <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top  sticky-navigation" role="navigation">
                <div class="container">
                    <!-- TOP BAR -->
                    <div class="navbar-collapse collapse" id="stamp-navigation">
                    <!-- NAVIGATION LINK -->
                      <a class="navbar-brand" href="/">
                        <img src="static/app/images/logo_main.png" alt="">
                      </a>
                      <ul class="nav navbar-nav navbar-left main-navigation small-text">
                        <li class="navbar-brand"><a href="#section1"><em>{% trans "Who we are" %}</em></a></li>
                        <li class="navbar-brand"><a href="#section2"><em>{% trans "Translations" %}</em></a></li>
                        <li class="navbar-brand"><a href="#section3"><em>{% trans "Workshops" %}</em></a></li>
                        <li class="navbar-brand"><a href="#section4"><em>{% trans "More thanks" %}</em></a></li>
                      </ul>

                    <!-- LOGIN REGISTER -->
                    <ul class="nav navbar-nav navbar-right login-register small-text">
                            <li style="display: none;" class="register-button js-register inpage-scroll">
                                <a href="#home" class="navbar-register-button">{% trans "Get Started" %}</a>
                            </li>
                        </ul>

                    </div>
                    <!-- /END TOP BAR -->
                </div>
                <!-- /END CONTAINER -->
            </div>
            <!-- /END STICKY NAVIGATION -->


            <!-- CONTAINER -->
            <div class="container">

        <!-- ONLY LOGO ON HEADER -->
                <div class="row">
                    <div class="col-md-5">
                        <div class="intro-section">
                            <!-- WELCOM MESSAGE -->
                            <h1 class="intro white-text">{% trans "Thanks all of you!" %}</h1>

                            <h4 align=justify class="transparent-text"><strong>{% trans "We are so pleased to receive so much help of you and we thought that the best way of show our appreciation is including your work in the website. In this space you can see who people help us to improve Dr. Scratch!" %} </strong></h4>

                            <!--<h4 align=justify class="transparent-text"><strong></strong></h4>-->
                          </div>
                        </div>

                    </div>

                        </div>
                    </div>




    <!-- =========================
     SECTION: CLIENTS LOGOs
    ============================== -->
    <section id="section6" class="services grey-bg">
    <div class="clients white-bg">
        <ul class="client-logos">
            <li>
                <a href="http://programamos.es">
                <img src="static/app/images/logoProgramamos.png" alt="">
                </a>
            </li>
            <li>
                <a href="http://www.urjc.es">
                <img src="static/app/images/logoURJC.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="http://libresoft.es">
                <img src="static/app/images/logoLibresoft.jpeg" alt="">
                </a>
            </li>

            <li>
                <a href="http://www.fecyt.es">
                <img src="static/app/images/logoFECYT.jpg" alt="">
                </a>
            </li>

        </ul>
    </div>
    </section>
    </header>

    <!-- =========================
     SECTION: TRANSLATIONS
    ============================== -->
    <section id="section1" class="services grey-bg">

        <div class="container">
            <!-- SECTION HEADER -->
            <div class="section-header">

                <h2 class="dark-text"><strong>{% trans "Who we are" %} </strong></h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    <h4><em>{% trans "Dr. Scratch's team likes to thank you for your contributions." %}</em></h4>
                </div>
            </div>

            <!-- MEMBERS -->
            <div style="visibility: visible; animation-duration: 1.75s; animation-name: fadeIn;" class="row wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.75s">

                <!-- MEMBER -->
                <div text="centre" class="col-md-12">
                    <div style="visibility: visible; animation-duration: 1s; animation-name: flipInY;" class="team-member wow flipInY animated" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <img src="static/app/images/drscratchTeam.jpeg" alt="" height="450" width="50">
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">Dr. Scratch team</h5>
                            <div class="small-text">
                                {% trans " " %}
                            </div>
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="https://twitter.com/DrScratchTool">
                                    <span class="icon-social-twitter dark-text"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

    </div>


    <!-- =========================
     SECTION: TRANSLATIONS
    ============================== -->
    <section id="section2" class="services grey-bg">

        <div class="container">
            <!-- SECTION HEADER -->
            <div class="section-header">

                <h2 class="dark-text"><strong>{% trans "Translations" %} </strong></h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    <h4><em>{% trans "We know the importance of receiving feedback on your own language to understand every little detail or hint, so we'll translate Dr. Scratch to facilitate coding learning to as many people as possible." %}</em></h3>
                    <h4><em>{% trans "Would you like help us to translate Dr. Scratch to your language? Many people have already helped us! " %}</em></h3>
                </div>
            </div>

            <!-- MEMBERS -->
            <div style="visibility: visible; animation-duration: 1.75s; animation-name: fadeIn;" class="row wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.75s">

                <!-- MEMBER -->
                <div class="col-md-3 col-sm-6">
                    <div style="visibility: visible; animation-duration: 1s; animation-name: flipInY;" class="team-member wow flipInY animated" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <img src="static/app/images/scratch_logo.jpg" alt="" height="260" width="253">
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">Fernando S.Pacheco</h5>
                            <div class="small-text">
                                {% trans "Portuguese" %}
                            </div>
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="">
                                    <span class="icon-social-twitter dark-text"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- MEMBER -->
                <div class="col-md-3 col-sm-6">
                    <div style="visibility: visible; animation-duration: 1s; animation-name: flipInY;" class="team-member wow flipInY animated" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <img src="static/app/images/member.jpg" height="260" width="253">
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">Dimitris Nikolos</h5>
                            <div class="small-text">
                                {% trans "Greek" %}
                            </div>
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="https://twitter.com/dnikolos">
                                    <span class="icon-social-twitter dark-text"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- MEMBER -->
                <div class="col-md-3 col-sm-6">
                    <div style="visibility: visible; animation-duration: 1s; animation-name: flipInY;" class="team-member wow flipInY animated" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <img src="static/app/images/paunin.jpg" alt="" height="253" width="253">
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">{% trans "Pau Nin" %}</h5>
                            <h6>{% trans "Pau Nin works as Elementary School teacher and Masters degree in Innovation Pedagogical and Education Leadership in the XXI century. He's an enthusiast of the Programmation and educational robotic. Also he loves sharing with other teachers the possibilities of both(programmation and robotic) as one of the most powerful motivational tools available today to teach in the classroom." %}</h6>
                            <div class="small-text">
                                {% trans "Catalan"%}
                            </div>
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="https://twitter.com/pau_nin">
                                    <span class="icon-social-twitter dark-text"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- MEMBER -->
            <div class="col-md-3 col-sm-6 team-member">
                    <div style="visibility: visible; animation-duration: 1s; animation-name: flipInY;" class="wow flipInY animated" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <img src="static/app/images/scratch_logo.jpg" alt="" height="253" width="253">
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">{% trans "Gonzalo García Fernández" %}</h5>
                            <div class="small-text">
                                {% trans "Galician" %}
                            </div>
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="">
                                    <span class="icon-social-twitter dark-text"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- MEMBER -->
            <div class="col-md-3 col-sm-6 team-member">
                    <div style="visibility: visible; animation-duration: 1s; animation-name: flipInY;" class="wow flipInY animated" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <img src="static/app/images/scratch_logo.jpg" alt="" height="253" width="253">
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">{% trans "Adelmo Eloy" %}</h5>
                            <div class="small-text">
                                {% trans "Portuguese" %}
                            </div>
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="">
                                    <span class="icon-social-twitter dark-text"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
    </div>


    <!-- =========================
     SECTION: WHOKSHOPS
    ============================== -->
    <section id="section3" class="unique-features white-bg">
        <div class="container">
            <!-- SECTION HEADER -->
            <div class="section-header">
                <h2 class="dark-text"><strong>{% trans "Workshops" %}</strong></h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    <h4><em>{% trans "We are collaborating with several schools where we can prove the website with children and see which features they need." %}</em></h4>
                    <h4><em>{% trans "Thanks all of children and teachers who help us with the development!" %}</em></h4>
                </div>
            </div>

            <!-- FIRST ROW OF FEATURES -->
            <div class="row">
                <div style="visibility: visible; animation-duration: 1.75s; animation-name: fadeInRight;" class="col-md-4 wow fadeInRight animated" data-wow-duration="1.75s" data-wow-offset="40">
 <!-- CONTAINER -->
            <div class="container">

        <!-- ONLY LOGO ON HEADER -->
                <div class="row">

                <!-- DrScratch's working to improve -->
                <div class="col-md-7">
                    <div style="visibility: visible; animation-duration: 1.75s; animation-name: bounceIn;" class="ipad-image wow bounceIn animated" data-wow-duration="1.75s" data-wow-offset="20">
                        <img src="static/app/images/Lope.jpg" alt="" height="406" width="360">
                    </div>
                </div>

                <div style="visibility: visible; animation-duration: 1.75s; animation-name: fadeInLeft;" class="col-md-4 wow fadeInLeft animated" data-wow-duration="1.75s" data-wow-offset="20">


                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">{% trans "CEIP Lope de Vega" %}</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                <strong>{% trans "Teacher: Jorge Lobo" %}</strong>
                             </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <br></br>
        <!-- CONTAINER -->
                   <div class="container">

               <!-- ONLY LOGO ON HEADER -->
                       <div class="row">

                       <!-- DrScratch's working to improve -->
                       <div class="col-md-7">
                           <div style="visibility: visible; animation-duration: 1.75s; animation-name: bounceIn;" class="ipad-image wow bounceIn animated" data-wow-duration="1.75s" data-wow-offset="20">
                               <img src="static/app/images/Gonzalo.jpg" alt="" height="406" width="360">
                           </div>
                       </div>

                       <div style="visibility: visible; animation-duration: 1.75s; animation-name: fadeInLeft;" class="col-md-4 wow fadeInLeft animated" data-wow-duration="1.75s" data-wow-offset="20">


                           <!-- SINGLE FEATURE -->
                           <div class="feature">
                               <div class="icon-container">
                                   <span class="icon-star-alt colored-text"></span>
                               </div>
                               <div class="description text-left">
                                   <h4 class="dark-text">{% trans "CEIP Gonzalo Fernández de Córdoba" %}</h4>
                                   <div class="grey-line-short pull-left">
                                   </div>
                                   <p class="text-left">
                                       <strong>{% trans "Teacher: Chema Gonzalez" %}</strong>
                                    </p>
                               </div>
                           </div>

                       </div>
                   </div>
               </div>
    </section>



    <!-- =========================
     SECTION: MORE THANKS
    ============================== -->
    <section id="section4" class="team grey-bg">
        <div class="container">
            <!-- SECTION HEADER -->
            <div class="section-header">
                <h2 class="dark-text">{% trans "<strong>More thanks</strong></h2>" %}
                <div class="colored-line">
                </div>
            </div>



    <!-- FOOTER -->
    <footer class="footer grey-bg">
       {% trans "©2014 Dr. Scratch is powered by " %}<a href="https:/github.com/ucsb-cs-education/hairball" class="dark-text">Hairball</a>

        <!-- SOCIAL ICONS -->
        <ul class="social-icons">
            <li><a href="https:/twitter.com/drscratchtool"><span class="icon-social-twitter transparent-text-dark"></span></a>
            </li>
            <li><a href=""><span class="icon-social-github transparent-text-dark"></span></a>
            </li>

        </ul>

    </footer>
    </div>


        </div>

    <!-- =========================
     SCRIPTS
    ============================== -->
    <script src="static/app/scripts/jquery.min.js"></script>
    <script>
        /* PRE LOADER */
        jQuery(window).load(function () {
            "use strict";
            jQuery(".status").fadeOut();
            jQuery(".preloader").delay(1000).fadeOut("slow");
        })
    </script>
    <script type="text/javascript" src="static/app/scripts/bootstrap-filestyle.js"> </script>
    <script src="static/app/scripts/smoothscroll.js"></script>
    <script src="static/app/scripts/bootstrap.min.js"></script>
    <script src="static/app/scripts/jquery.nav.js"></script>
    <script src="static/app/scripts/ie-emulation-modes-warning.js"></script>
    <script src="static/app/scripts/wow.js"></script>
    <script src="static/app/scripts/nivo-lightbox.js"></script>
    <script src="static/app/scripts/owl.js"></script>
    <script src="static/app/scripts/jquery_main.js"></script>
    <script src="static/app/scripts/jquery.ajaxchimp.min.js"></script>
    <script src="static/app/scripts/progress-bar.js"></script>
    <script src="../../static/app/scripts/googleAnalytics.js"></script>

    <!-- GOGLE MAP -->
    <!--
    <script src="https:/maps.googleapis.com/maps/api/js"></script><script src="https:/maps.gstatic.com/maps-api-v3/api/js/19/5/intl/es_ALL/main.js"></script>
-->

    <!-- CUSTOM JS  -->
    <script src="static/app/scripts/custom.js"></script>
</body></html>
