{% load i18n %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/app/images/favicon.ico">

    <title>Dr. Scratch</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../static/app/content/bootstrap.min.css">
    <script src="../../static/app/scripts/jquery.min.js"></script>
    <script src="../../static/app/scripts/highcharts.js"></script>
    <script src="../../static/app/scripts/exporting.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../static/app/content/style.css">
    <!-- =========================
     FAV AND TOUCH ICONS AND FONT
    ============================== -->
    <link rel="icon" href="../../static/app/images/favicon.ico">
    <link rel="stylesheet" href="../../static/app/icons/icons.css">
    <link type="text/css" rel="stylesheet" href="../../static/app/content/css_002.css">
    <link type="text/css" rel="stylesheet" href="../../static/app/content/css.css">
    <!-- =========================
     STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP AND ANIMATION -->
    <link rel="stylesheet" href="../../static/app/content/bootstrap-main.css">
    <link rel="stylesheet" href="../../static/app/content/animate.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="../../static/app/content/owl_002.css">
    <link rel="stylesheet" href="../../static/app/content/owl.css">
    <link rel="stylesheet" href="../../static/app/content/nivo-lightbox.css">
    <link rel="stylesheet" href="../../static/app/content/default.css">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="../../static/app/content/styles.css">
    <link href="../../static/app/content//dashboard.css" rel="stylesheet">


    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="../../static/app/content/responsive.css">

    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <link rel="stylesheet" href="../../static/app/content/red.css">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="Dashboard%20Template%20for%20Bootstrap_files/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

        <script>
        $(document).ready(function(){
            date_list = "{{ date }}".split(",")
            for (n in date_list){
                date_list[n] = date_list[n].slice(6,-5)
            };
            date_list[date_list.length-1] = date_list[date_list.length-1].slice(0,-1)
        });


    $(function () {

        $('#chart-panel').highcharts({
            title: {
                text: '{% trans "Your daily progress" %}',
                x: -20 //center
            },
            xAxis: {
                categories: date_list
            },

            tooltip: {
                valueSuffix: '{% trans " points"%}'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: '{% trans "Total score" %}',
                data: {{ daily_score }}
            }]
        });
    });
    </script>
  </head>

  <body>

    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top  sticky-navigation" role="navigation">
        <div class="container">
            <!-- TOP BAR -->
            <div class="navbar-collapse collapse" id="stamp-navigation">
            <!-- NAVIGATION LINK -->
              <a class="navbar-brand" href="/">
                <img src="../../static/app/images/logo_main.png" alt="">
              </a>

            <!-- LOGIN REGISTER -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                        <a class="dropdown-toggle navbar-text" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{% trans "Logged in as " %} {{ username }}<span class="caret"></span></a>
                        <ul class="login-register small-text dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li> <a href='/changePwd'>{% trans "Change password" %}</a> </li>
                            <li>
                                <a id="logout" type="submit" href="/logoutOrganization">{% trans "Logout" %}</a>
                            </li>

                        </ul>
                </li>
            </ul>
            </div>
            <!-- /END TOP BAR -->
        </div>
        <!-- /END CONTAINER -->
    </div>

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
          <br>
          <div class="thumbnail">
            <img src="/static/{{ img }}">
          </div>
          <ul class="nav nav-sidebar">
            <li><a class="litext" href="/organization/{{ username }}"><span class="glyphicon glyphicon-dashboard"></span> General</a></li>
            <li><a class="litext" href="/organization/stats/{{ username }}"><span class="glyphicon glyphicon-stats"></span> Seguimiento</a></li>
            <li><a class="litext" href="/organization/downloads/{{ username }}"><span class="glyphicon glyphicon-download-alt"></span> Descargas</a></li>
            <li><a class="litext" href="/organization/settings/{{ username }}"><span class="glyphicon glyphicon-cog"></span> Ajustes</a></li>
          </ul>
        </div>

        <div class="col-sm-12 col-md-12 main">
          <h2 class="page-header">General</h2>
            <div class="row">

                <div class="col-md-5 col-md-offset-2">
                    <!-- HEADING AND BUTTONS -->
                    <div class="panel panel-default paneldash">
                      <div class="panel-body" id ="chart-panel" style="height:350px;">
                      </div>
                    </div>
                </div>

                <div class="col-md-5">
                  <!-- VERTICAL PROJECT FORM -->
                  <div class="vertical-project-form">
                    <h5 class="dark-text form-heading"><strong>{% trans "You can analyze at the same time all the Scratch proyects of your students!" %}</strong></h5>
                      <form name="form" class="project-form" enctype="multipart/form-data" method="post" action="/analyzeCSV">
                              {% csrf_token %}
                              {% trans "Only you have to put a " %}<span class='colored-text'><a data-toggle='modal' href='#modalCSV'>{% trans "file CSV " %}</a></span>{% trans " with the urls of the Scratch projects you want to analyze:" %}
                              {% trans "<input  name='csvFile' type='file' class='filestyle' data-buttonText='Choose File .csv'>" %}
                              <button id="upload" name='_upload' type="submit" class="btn btn-primary standard-button">{% trans "Analyze my projects" %}</button>
                              {% csrf_token %}
                      </form>
                          <!-- FORM SUBMIT SUCCESS / ERROR MESSAGES -->
                      <p class="file-error dark-text small-text">
                          {% trans "Error! Please choose a .sb or .sb2 file or input an url" %}</p>
                          {% if error %}
                      <br></br>
                      <p><span class="icon icon-close-alt2"></span> {% trans "Error! Please choose a .sb or .sb2 file or input an url" %}</p>
                          {% endif %}
                          {% if id_error %}
                      <br></br>
                      <p><span class="icon icon-close-alt2"></span> {% trans "Error! Your project id is wrong" %}</p>
                          {% endif %}
                          {% if no_exists %}
                      <br></br>
                      <p><span class="icon icon-close-alt2"></span> {% trans "Error! Your project doesn't exist in Scratch's servers" %}</p>
                          {% endif %}
                  </div>
              </div>

            </div>
      </div>
      </div>
    </div>
    <footer class="footer grey-bg">
           <div class="container">
                  {% trans "©2014 Dr. Scratch is powered by " %}<a href="https:/github.com/ucsb-cs-education/hairball" class="dark-text">Hairball</a>

                   <!-- SOCIAL ICONS -->
                   <ul class="social-icons">
                       <li><a href="https:/twitter.com/drscratchtool">
                           <span class="icon-social-twitter transparent-text-dark"></span></a>
                       </li>
                       <li><a href=""><span class="icon-social-github transparent-text-dark"></span></a>
                       </li>

                   </ul>
           </div>
       </footer>

       <!-- =========================
               MODALS
       ============================== -->

        <!-- Modal Url -->
       <div id="modalCSV" class="modal fade" role="dialog">
         <div class="modal-dialog">

           <!-- Modal content-->
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close text-right" data-dismiss="modal">&times;</button>
               <div class="small-text-medium uppercase colored-text">
                   {% trans "How is the file .csv?" %}
               </div>
               <h4 class="modal-title"><strong>{% trans "You must to write only the number of your students' projects. Easy, isn't it?" %}</strong></h4>
               <div class="colored-line"></div>
             </div>
             <div class="modal-body">
               <img class='framed' src='../../static/app/images/csv.png' />
             </div>
             <div class="modal-footer">
             </div>
           </div>

         </div>
       </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../../static/app/scripts/bootstrap-filestyle.js"> </script>
    <script src="../../static/app/scripts/smoothscroll.js"></script>
    <script src="../../static/app/scripts/bootstrap.min.js"></script>
    <script src="../../static/app/scripts/jquery.nav.js"></script>
    <script src="../../static/app/scripts/ie-emulation-modes-warning.js"></script>
    <script src="../../static/app/scripts/wow.js"></script>
    <script src="../../static/app/scripts/nivo-lightbox.js"></script>
    <script src="../../static/app/scripts/owl.js"></script>

</body></html>
