<!DOCTYPE html>
<html lan="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dr. Scratch - automatic analysis of Scratch projects to assess the development of computational thinking</title>
        <link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.ico"/>
		
		<!-- Bootstrap core CSS -->
	    <link href="/resources/css/bootstrap.css" rel="stylesheet">
	    <!-- Add custom CSS here -->
	    <link href="/resources/css/sb-admin.css" rel="stylesheet">
	    <link rel="stylesheet" href="/resources/font-awesome/css/font-awesome.min.css">
	    <link rel="stylesheet" type="text/css" href="/resources/custom/business-plate.css">


		<!--Librería jQuery requerida para los plugins de Javascript-->
		<script src="http://code.jquery.com/jquery.js"></script>
		<!--Todos los plugins Javascript de bootStrap-->
		<script src="/resources/js/bootstrap.min.js"></script>
		<script src="/resources/js/bootstrap-filestyle.js"></script>
			
	</head>	
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="nanavbar-inversevigation">
	      	<div class="container">
	        	<div class="navbar-header">
		          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
	          	<a class="navbar-brand" href="#">Doctor Scratch (beta version)</a>
	        	</div>
		        <div color="#ff0" class="navbar-collapse collapse">
	          		<form class="navbar-form navbar-right" role="form" method="post" action="/login">
	          			{% csrf_token %}
	            		<div class="form-group">
	              		<input type="text" name="username" placeholder="Username" class="form-control">
	            		</div>
	            		<div class="form-group">
	              		<input type="password" name="password" placeholder="Password" class="form-control">
	           			</div>
	            		<button type="submit" class="btn btn-success">Sign in</button>
	            		<!--Button Trigger Modal-->
	            		<button type="button" data-toggle="modal" class="btn btn-danger"data-target="#myModal">Sign up</button>
	          		</form>
	        	</div><!--/.navbar-collapse -->
      		</div>
    	</div>



	    <!-- Main jumbotron for a primary marketing message or call to action -->
	    <div class="jumbotron">
            <div class="container">
                <div class="blockquote-reverse">
                    <div class="has-error help-block  has-feedback">
                        {% if flag %}
                        <p>User not found: Please try again!</p>
                        {% endif %}
                      
                    </div>
                </div>
            </div>
	        <div class="container">
		<img src="/resources/images/logo_main.png">
        <h1></h1>
		<p>Welcome to the Dr. Scratch website, an analytical tool that evaluates your Scratch projects in a variety of computational areas. We provide feedback on aspects such as abstraction, logical thinking, synchronization, parallelization, flow control, user interactivity and data representation. </p>
		<p>This analyzer is a helpful tool to evaluate your own projects, or those of your Scratch students.</p>
	    	<form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/uploadUnregistered">
				{% csrf_token %}
                <br></br>

				<div class="col-md-4">
					<input name="zipFile" type="file" class="filestyle" data-buttonName="btn btn-primary">
					<input name = "prueba" type="submit" value="Submit" class="btn btn-primary">
				</div>

			</form>
			<!--Button Trigger Modal-->
    		<button type="button" data-toggle="modal" class="btn btn-warning" data-target="#myModalURL">Introduce URL</button>

			
	      </div>
	    </div>

	    <div class="serviceBlock">
		<div class="container">
					
				<div class="row">
					<div class="col-md-4">
						<div class="clearfix">
							<i class="fa fa-info-circle"></i>
							<div class="desc">								
								<h4>Help</h4>
								<p><a href="http://programamos.es/web/wp-content/uploads/2014/08/DrScratch1.pdf">Slides used in Scratch Conference, MIT 2014</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="clearfix">
							<i class="fa fa-folder-open-o"></i>
							<div class="desc">
								<h4>Contact</h4>
								<p>If you have any questions, comments or ideas to improve Dr. Scratch, please feel free to contact us:</p>
								<p>jesus.moreno (at) programamos.es</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="clearfix">
							<i class="fa fa-male"></i>
							<div class="desc">
								<h4>Community</h4>
								<p>Join us! Meet other users and share experiences</p>
							</div>
						</div>
					</div>
				</div>

				<hr>
		</div>
		</div>		


<!-- Modals for the forms of register and URL -->

		<!--Modal to register new user-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h4 class="modal-title" id="myModalLabel">Sign Up to Dr. Scratch</h4>
      				</div>
		     		<div class="modal-body">
		       			<form role="form" method="post" action="/createUser">
		       				{% csrf_token %}
		       				<div class="form-group">
		       					<label for="inputNick">Put your nickname. Please no real names.</label>
		       					<input type="nick" class="form-control" id="inputNick" name="nickname" placeholder="Nickname">
		       				</div>
		       				<div class="form-group">
		       					<label for="inputPassword">Password</label>
		       					<input type="password" class="form-control" id="inputPassword" name="passUser" placeholder="Password">
		       				</div>
		       				<div class="form-group">
		       					<label for="inputEmail">Put a email. In case that users under 18 years of age is required the parent email account for reset the password.</label>
		       					<input type="email" class="form-control" id="inputEmail" name="emailUser" placeholder="Email">
		       				</div>
		       				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		       				<button type="submit" class="btn btn-primary">Sign Up</button>
		       			</form>	
		      		</div>
    			</div>
  			</div>
		</div>

	<!--Modal to introduce the URL-->
		<div class="modal fade" id="myModalURL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        			<h4 class="modal-title" id="myModalLabel">Dr. Scratch</h4>
      				</div>
		     		<div class="modal-body">
		       			<form role="form" method="post" action="/sendUrlProject">
		       				{% csrf_token %}
		       				<div class="form-group">
		       					<label for="inputUrl">Introduce la URL</label>
		       					<input type="url" class="form-control" id="inputUrl" name="urlProject" placeholder="URL">
		       				</div>
		       				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		       				<button type="submit" class="btn btn-primary">Send</button>
		       			</form>	
		      		</div>
    			</div>
  			</div>
		</div>



	</body>

</html>
