{% load i18n %}

{% block content %}
{% trans "Reset password"%}

{% trans "You're receiving this email because you requested a password reset for your user account at Dr. Scratch."%}
{% trans "Please, go to the following page and choose a new password:"%}
drscratch.programamos.es{% url 'reset_password_confirm' uidb64=uid token=token %}
{% trans "Your username is: " %}{{id}}
{% block reset_link %}
{% endblock %}

{% trans "Thanks for using our website!"%}
{% trans "The Dr. Scratch team"%}

{% endblock %}
