{% extends 'sign-password/base.html' %}
{% load i18n %}


{% block content %}
<div class="container">
    <div class="col-md-7 col-lg-offset-2">
        <section id="dashboard">
            <div class="container-fluid">
                <div class="row marketing">
                    <div class="jumbotron">
                        <form method="post" >
                        {% csrf_token %}
                            <h4>{% trans  "Type your new password:" %}</h4>
                                <div class="input-group container-fluid">
                                    <input type="password" class="form-control" name="password">
                                </div>
                                {{ form.as_p }}
                            <h4>{% trans  "Confirm your password:" %}</h4>
                                <div class="input-group container-fluid">
                                    <input type="password" class="form-control" name="confirm">
                                </div>
                                {{ form.as_p }}
                             <div>  
                                <button class="btn btn-primary standard-button" type="submit">{% trans "Send" %}</button>
                            </div>
                        </form>
                    
                    {% if flag_error %}

                    <h5><p><span class="icon icon-close-alt2"></span>{% trans "The Password and Confirm password fields are not identical." %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
