{% extends "dashboard.html"%}        

{% block content %}

        <div class="row">
          <div class="col-lg-12">
            <h1>Roles in Doctor Scratch <small>Overview</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Scratch projects</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Look when to pass of level!
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/resources/profiles/beginner.png" alt="...">
            <div class="text-center">
              <spam class="badge"><h3>Beginner</h3></spam>
              <p>The range in beginner is 0-10</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/resources/profiles/developer.png" alt="...">
            <div class="text-center">
              <spam class="badge"><h3>Developer</h3></spam>
              <p>The range in developer is 11-15</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/resources/profiles/advanced.png" alt="...">
            <div class="text-center">
              <spam class="badge"><h3>Advanced</h3></spam>
              <p>The range in advanced is 15-21</p>
            </div>
          </div>
        </div>
      </div>



{% endblock%}

