img{max-width:100%}
.cntr{text-align:center;}
.ourServices {padding:40px 0}
.ourServices img{max-width:140px}
.title{ border-bottom:1px solid #eee; padding-bottom:4px; margin-bottom:20px;}
.topHeaderSection{background:#fff; padding:0}
/* --------------------------- */
/* --------------------------- */
.highlightSection{color:#333; background:#fafafa; padding:18px 0; border-bottom: 1px solid #D1D1D1}
.highlightSection h2{padding-top:0; margin-top:0; font-size:21px}
.highlightSection h4{padding-top:0; margin-top:0; line-height:1.6em; font-size:18px}
.bodySection{background:#fff; padding:18px 0}
.align-right{text-align:right}

.testimonails{background:#f7f7f7; padding:14px; margin:28px 0 44px }
.projectList{}
.projectList img{padding:4px; border:1px solid #eee; background:#f5f5f5;}


.projectImg{max-width:140px}
.clientSection{background:#fafafa; padding:18px 0; margin-bottom:20px; padding:18px }
.footerTopSection{background:#f7f7f7; padding:18px 0; border-top: 1px solid #e7e7e7}
.footerBottomSection{background:#212121; padding:18px 0; color:#fff}



.serviceBlock{ padding:38px 0; margin:18px 0}

.services {padding:38px 0; margin:18px 0}
.serviceBlock i {
float: left;
padding: 14px;
color: #0064ff;
font-size: 6em;
text-align: center;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}



/* Media Query */

/* Small devices (tablets, 768px and up) */
@media (max-width: 480px) {
.topHeaderSection {padding: 0;}
.da-slide .da-img{display:none}
.da-slide h2 {top: 18px;}
.da-slide p {top: 255px;}
.navbar-nav.navbar-right:last-child {margin-top: 0px;margin-bottom: 0px;}
.navbar-toggle {margin-top: 21px;}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
