{% extends 'password/base.html' %}
{% load i18n %}


{% block content %}

<div class="container down">
    <div class="col-md-7 col-lg-offset-2">
        <section id="dashboard">
            <div class="container-fluid">
                <div class="row marketing">
                    <div class="jumbotron">
                        <h4>{% trans "Have you forgotten your password? Please introduce your email:" %}</h4>
                            <div class="input-group input-group-lg col-lg-8 col-lg-offset-1">
                                <form method="post" >
                                {% csrf_token %}
                                <input type="text" class="form-control" placeholder="Introduce tu email" name="email">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">{% trans "Send" %}</button>
                                </span>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
