{% extends 'password/base.html' %}
{% load i18n %}


{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    {% endif %}
</ul>
<div class="container">
    <div class="col-md-7 col-lg-offset-2">
        <section id="dashboard">
            <div class="container-fluid">
                <div class="row marketing">
                    <div class="jumbotron">
                        <h4> Has olvidado tu contraseña? Introduce tu email:</h4>
                            <div class="input-group input-group-lg col-lg-8 col-lg-offset-1">
                                <form method="post" >
                                {% csrf_token %}
                                <input type="text" class="form-control" placeholder="Introduce tu email" name="email">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Enviar</button>
                                </span>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
