{% extends 'password/base.html' %}
{% load i18n %}


{% block content %}
<div class="container">
    <div class="col-md-7 col-lg-offset-2">
        <section id="dashboard">
            <div class="container-fluid">
                <div class="row marketing">
                    <div class="jumbotron">
                        <h4>{% trans "User doesn't exist or the password is incorrect." %}</h4>
                        <div>
                            <a class="btn btn-primary standard-button" href="/organization">{% trans "Retry" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
