{% load i18n %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Analyze your Scratch projects to assess your Computational Thinking skills">
    <meta name="keywords" content="Stamp, Startup, Multipurpose, Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="author" content="Programamos URJC Libresoft FECyT">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <link rel="stylesheet" href="../../static/app/content/scratchblocks2.css">
    <script src="../../static/app/scripts/scratchblocks2.js"></script>
    <script src="../../static/app/scripts/translations.js"></script>

    <!-- SITE TITLE -->
    <title>Dr. Scratch</title>


    <link rel="stylesheet" href="../../static/app/content/style.css">
    <!-- =========================
     FAV AND TOUCH ICONS AND FONT
    ============================== -->
    <link rel="icon" href="../../static/app/images/favicon.ico">
    <link rel="stylesheet" href="../../static/app/icons/icons.css">
    <link type="text/css" rel="stylesheet" href="../../static/app/content/css_002.css">
    <link type="text/css" rel="stylesheet" href="../../static/app/content/css.css">
    <!-- =========================
     STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP AND ANIMATION -->
    <link rel="stylesheet" href="../../static/app/content/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/app/content/animate.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="../../static/app/content/owl_002.css">
    <link rel="stylesheet" href="../../static/app/content/owl.css">
    <link rel="stylesheet" href="../../static/app/content/nivo-lightbox.css">
    <link rel="stylesheet" href="../../static/app/content/default.css">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="../../static/app/content/styles.css">
    <link rel="stylesheet" href="../../static/app/content/cloud.css">


    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="../../static/app/content/responsive.css">

    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <link rel="stylesheet" href="../../static/app/content/red.css">
    <script src="../../static/app/scripts/googleAnalytics.js"></script>

    <script type="text/javascript">

    $.ajax({
            url: "http://www.drscratch.org/blocks",
            dataType: 'jsonp',
            success: function(headers) {
                language = headers['Accept-Language'];
                language = language.split(",")[0];
                scratchblocks2.reset_languages();
                if (language) var lang_dict = scratchblocks2._translations[language];
                if (lang_dict) scratchblocks2.load_language(lang_dict);
        $(document).ready(function () {
            scratchblocks2.parse();
        });
            }
        });

    </script>
</head>
<body>
   <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top  sticky-navigation" role="navigation">
        <div class="container">
                    <!-- TOP BAR -->
            <div class="navbar-collapse collapse" id="stamp-navigation">
                    <!-- NAVIGATION LINK -->

                <a class="navbar-brand" href="/">
                    <img src="../../static/app/images/logo_main.png" alt="">
                </a>
                {% if flagUser %}
                    <!-- NAVIGATION LINK -->
                    <ul class="nav navbar-nav navbar-left main-navigation ">
                        <li class="navbar-brand"><a class="navbar-brand pull-left" href="/{{user}}/{{username}}"><span class="icon-basic-home colored-text"></span><em>{{ username }}</em></a></li>
                   </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right main-navigation ">
                        <li class="navbar-brand"><a class="navbar-brand pull-right" href="https://twitter.com/DrScratchTool"><span class="icon-social-twitter colored-text"></span></a></li>
                        <li class="navbar-brand"><a class="navbar-brand pull-right" href="mailto:drscratch@programamos.es"><span class="icon-basic-mail colored-text"></span></a></li>
                        <li class="navbar-brand"><a class="navbar-brand pull-right">{% trans "Dr. Scratch(Beta Version)" %}</a></li>
                      </ul>
            </div>
                    <!-- /END TOP BAR -->
        </div>
                <!-- /END CONTAINER -->
    </div>
            <!-- /END STICKY NAVIGATION -->
    <!-- JUMBOTRON -->

    <div id ="cloud"><h2>{% block title %}{% endblock %}</h2><span class='shadow'></span></div>
    <div class="container col-md-10 col-md-offset-1">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a href="/learn/Logic/">{% trans "Logic" %}</a></li>
      <li role="presentation"><a href="/learn/Data/">{% trans "Data representation" %}</a></li>
      <li role="presentation"><a href="/learn/Parallelism/">{% trans "Parallelism" %}</a></li>
      <li role="presentation"><a href="/learn/Synchronization/">{% trans "Synchronization" %}</a></li>
      <li role="presentation"><a href="/learn/User/">{% trans "User interactivity" %}</a></li>
      <li role="presentation"><a href="/learn/Flow/">{% trans "Flow control" %}</a></li>
      <li role="presentation"><a href="/learn/Abstraction/">{% trans "Abstraction" %}</a></li>
    </ul>
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a href="/learn/duplicatedScripts/">{% trans "Duplicated scripts" %}</a></li>
      <li role="presentation"><a href="/learn/spriteNaming/">{% trans "Incorrect names" %}</a></li>
      <li role="presentation"><a href="/learn/deadCode/">{% trans "Dead code" %}</a></li>
      <li role="presentation"><a href="/learn/attrInit/">{% trans "Attribute initialization" %}</a></li>

    </ul>
    </div>
    <!-- /END JUMBOTRON -->
    <!-- PANEL-->
   {% block content %}
    {% endblock %}
 <footer class="footer grey-bg">
        <div class="container">
               {% trans "©2014 Dr. Scratch is powered by " %}<a href="https:/github.com/ucsb-cs-education/hairball" class="dark-text">Hairball</a>

                <!-- SOCIAL ICONS -->
                <ul class="social-icons">
                    <li><a href="https:/twitter.com/drscratchtool">
                        <span class="icon-social-twitter transparent-text-dark"></span></a>
                    </li>
                    <li><a href=""><span class="icon-social-github transparent-text-dark"></span></a>
                    </li>

                </ul>
        </div>
    </footer>
</body>
</html>
