{% extends 'learn/base.html' %}
{% load i18n %}
    <!-- JUMBOTRON -->
    <div id = "cloud"><h2>{% block title %}{% trans "Dead code" %}{% endblock %}</h2><span class='shadow'></span></div>
    <!-- /END JUMBOTRON -->
    <!-- PANEL-->
{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body col-lg-10 col-lg-offset-1">
    {% trans "Dead code are parts of programs that never are executed. How can it form? For example, when you have a program that isn't start with a hat block, or when there is a program that is waiting for a message that never is sent." %}
<br><br>
        
        <pre class="blocks col-lg-5 col-lg-offset-1">{% trans "forever //Blocks that dont's start with a hat block." %}
                            {% trans "if &lt; key [left arrow v] pressed ? &gt; then" %} 
                            {% trans "change x by (10)" %}
        </pre>
        <pre class="blocks col-lg-6">{% trans "when I receive [startcc v] //Blocks that start with a hat block." %}
                            {% trans "switch costume to [costume2 v]" %} 
                            {% trans "say [Let's start] for (2) secs" %}
        </pre><br>
        </div>
        <div class="panel-body col-lg-10 col-lg-offset-1">
        {% trans "These situations usually causes that projects doesn't work as expected of them,so,try to avoid dead code in your programs!" %}

        </div>
    </div>
</div>
{% endblock %}
