{% extends 'learn/base.html' %}
{% load i18n %}
    <script>
        
        $(document).ready(function() {
            scratchblocks2.parse();
        });

        var choose_lang = x=window.navigator.language||navigator.browserLanguage;
        console.log("HOLA");
        choose_lang = choose_lang.split("-")[0];
        console.log(choose_lang);
        


        scratchblocks2.reset_languages();
        var lang_dict = scratchblocks2._translations[choose_lang];

          if (lang_dict) scratchblocks2.load_language(lang_dict);
  </script>
    <!-- JUMBOTRON -->
    <div id = "cloud"><h2>{% block title %}{% trans "Flow control" %}{% endblock %}</h2><span class='shadow'></span></div>
    <!-- /END JUMBOTRON -->
    <!-- PANEL-->
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body col-lg-10 col-lg-offset-1">
    {% trans "Instructions related to algorithmic notions of flow control can help you to <b>control the behavior of your characters</b>, making, for example, certain blocks that are repeated a number of times,  or until a situation arises." %}
        </div>
    </div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body col-lg-10 col-lg-offset-1">
            <section id="level0">
                <h3>{% trans "If you get 0 points..." %}</h3>

    {% trans "The most basic way to control the behavior of your characters is creating a <b>program composed of a set of blocks are executed one after another</b>, as we see in the picture:" %}<br><br>

                <pre class="blocks">{% trans "when gf clicked" %}
                                    {% trans "say [I'm a dancer cat] for (2) secs" %}
                                    {% trans "move (10) steps" %}
                                    {% trans "turn cw (15) degrees" %}
                                    {% trans "wait (0.5) secs" %}
                                    {% trans "turn ccw (15) degrees" %}
                                    {% trans "move (-10) steps" %}
                  </pre><br>
    {% trans "How does this program works? When the user click on the green flag run behind one another all blocks that have been included in the program. Start with the first block <i>'say I'm a cat dancing for 2 seconds'</i>, then run <i>'move 10 steps'</i> then <i>'turn 15 degrees right'</i>, and so on to the last block of the program." %}
            </section>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body col-lg-10 col-lg-offset-1">
            <section id="level1">
                <h3>{% trans "If you get 1 point..." %}</h3>
   {% trans "Sometimes when we want a set of blocks is constantly repeated, instead of repeating the same blocks over and over again, you can use a repeat instruction allowing achieve the same effect, but more comfortable and manageable way. Consider a couple of examples:" %}<br><br>
                <pre class="blocks">{% trans "when gf clicked" %}
                                    {% trans "say [I'm a dancer cat] for (2) secs" %}
                                    {% trans "repeat (3)" %}
                                    {% trans "move (10) steps" %}
                                    {% trans "turn cw (15) degrees" %}
                                    {% trans "wait (0.5) secs" %}
                                    {% trans "turn ccw (15) degrees" %}
                                    {% trans "move (-10) steps" %}
                                    {% trans "wait (0.5) secs" %}
                                    {% trans "end" %}
                                    {% trans "when gf clicked" %}
                                    {% trans "forever" %}
                                    {% trans "move (10) steps" %}
                                    {% trans "if on edge, bounce" %}
                  </pre><br>
{% trans "How these control blocks works?" %}

{% trans "In the block <i>'repeat'</i> when execution reaches this point is repeated as often as has been indicated in the parameter block 'repeat', in the example would be 3 times, all blocks included within this block. We can see that the block 'repeat' has an arrow at the bottom indicating that <b>when they finish executing the blocks back again up</b>." %}

{% trans "The block <i>'forever'</i> works like the 'repeat' but never finish executing the blocks containing in its interior." %}
            </section>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body col-lg-10 col-lg-offset-1">
            <section id="level2">
                <h3>{% trans "If you get 2 points..." %}</h3>
{% trans "Sometimes we don't know previously  the number of times you want a set of blocks is executed, as this depends on a given situation. In these cases, the block 'repeat until ...' is really useful. Here's an example:" %}<br><br>
                    <pre class="blocks">{% trans "when gf clicked" %}
                                                {% trans "repeat until &lt; touching [Enemy v] ?&gt;" %}
                                                {% trans "say [You don't catch me]" %}
                                                {% trans "end" %}
                                                {% trans "say [You catch me]" %}

                              </pre><br>
{% trans "In the example, the character will constantly repeat the instruction say 'You don't caught me...' while he don't touch the enemy. At the time that the condition is met instruction <i>'repeat until ...'</i>, the contents inside will finish run and will jump to the next instruction, in this case say 'You caught me!'." %}<br><br>
            </section>
        </div>
    </div>
</div>
{% endblock %}
