<div class="pull-left-top">              
                        <h3>{% trans "Incorrect names: " %}</h3>
                      </div>
                      <div id="prueba" class="pull-right-top">
                        <ol>
                          {% for item in spriteNaming.sprite %}
                          <div class="issues"><li>    
                            {{ item }}
                          </li></div>      
                          {% endfor%}
                        </ol>
                      </div>
