{% extends 'learn/base.html' %}
{% load i18n %}

    <!-- JUMBOTRON -->
    <div id = "cloud"><h2>{% block title %}{% trans "Incorrect names" %}{% endblock %}</h2><span class='shadow'></span></div>
    <!-- /END JUMBOTRON -->
    <!-- PANEL-->
{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body col-lg-10 col-lg-offset-1">
{% trans "When you start to programming with Scratch, is very usually to leave the default name of the new characters(sprite 1, sprite2, ...). When we have few characters, is very easy to know what character have each name. However, when the number of characters increases, it's more complicated. So, is a good practice naming(to recognize easily) each character of our projects, because our programs can be read more fast. Avoid default names!" %}
        </div>
    </div>
</div>

{% endblock %}
