{% extends "dashboard1.html"%}        

{% block content %}

        <div class="row">
          <div class="col-lg-12">
            <h1>Metrics <small>Overview</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i>Metrics</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              You can see your progress in Dr. Scratch
            </div>
          </div>
        </div><!-- /.row -->


        <div id="historicChart" style="height: 250px;"></div>

{% endblock%}


{% block dataJavaScript %}
<script type="text/javascript">
new Morris.Line({
  element: 'historicChart',
  data:[
    {year:'2008', value:20},
    {year:'2009', value:10},
    {year:'2010', value:5},
    {year:'2011', value:5},
    {year:'2012', value:20},
  ],
  xkey: 'year',
  ykeys: ['value'],
  labels: ['value']
});

</script>

{% endblock %}

